html{
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #555;
}

header{
  background-color: white;
  height: 4rem;
}

.box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: auto 1.33rem;
}

.box #logo{
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-left: -0.7rem;
}

.box div img{
  width: 4rem;
  height: 4rem;
}

#colmar{
  font-size: 2rem;
  color: #555;
  font-weight: bold;
}

#academy{
  font-size: 2rem;
  color: grey;
}

ul li{
  display: inline;
  margin-left: 0.89rem;
}

ul li a{
  text-decoration: none;
  color: #555;
  font-size: 1.25rem;
}

header .menu{
  display: flex;
  justify-content: flex-end;
}

.mobile-menu{
  display: none;
}

/*Main banner*/
.flex-box{
  display: flex;
  background-color: lightgray;
  align-items: center;
}

.banner{
  margin: 1.77rem 1.33rem;
  width: 60%;
}

.banner img{
  max-width: 100%;
}

.banner-text{
  display: flex;
  flex-direction: column;
  padding-right: 1.33rem;
  width: 40%;
}

.title{
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: bold;
}

.title2{
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

#button{
  display: inline-block;
  background-color: #555;
  margin: auto;
  width: 100%;
  text-align: center;
}

.button{
  background-color: #555;
  color: white;
  padding: 0.44rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 2rem;
  margin: auto;
  cursor: pointer;
}

/*Secondary info section*/
.flex-box2{
  display: flex;
  margin: 1.44rem 1.33rem;
}

.image-box{
  width: 60%;
  margin-right: 1.33rem;
}

.image-box img{
  width: 100%;
  margin-bottom: 1.44rem;
}

.image-box h2{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.33rem;
}

.image-box p{
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.info-boxes{
  display: flex;
  flex-direction: column;
}

.box2{
  display: flex;
  margin-bottom: 1.78rem;
}

.box2 img{
  width: 35%;
  height: auto;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 3.02rem;
  max-width: 65%;
}

.info h3{
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2rem;
}

.info p{
  font-size: 1.2rem;
  line-height: 2rem;
}

.info a{
  font-size: 1.2rem;
  color: #1e90ff;
  text-decoration: none;
  line-height: 2rem;
}

#lecture{
  background-color: lightgray;
}
